{% extends 'layout/base.html.twig' %}
    {% block body %}
        <div class="div-body">
            <div class="full-page-detail">
                <a href="/stores"><i class="fas fa-arrow-alt-circle-left back"></i></a>
                <div class="store-detail">
                    <div class="price-cart">
                        <h2> {{ store.name }} </h2>
                        <div class="adress-detail-store">
                            <h3>{{ store.adress }}</h3>
                            <a href="https://www.google.com/maps/search/?api=1&query={{ store.adress }}"
                               target="_blank"><i class="fas fa-directions direction"></i></a>
                        </div>
                    </div>

                    {% if app.user %}
                        <div class="favorite-store-button detail lock" id="{{ store.id }}">
                            <i class="far fa-heart blank-favorite detail-heart icon-unlock"></i>
                            <i class="fas fa-heart blank-favorite detail-heart icon-lock"></i>
                        </div>
                    {% endif %}
                    <div class="text-show">
                        <p>{{ store.description }}</p>
                    </div>
                </div>

                <div id="show-{{ store.id }}" class="card-detail-column">
                    <div id="carousel" class="carousel slide carousel-fade">

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                            {% if store.picture1 == true %}
                                <div class="item active">
                                    <img class="picture-detail-store" src="{{ store.picture1 }}" alt="First slide">
                                </div>
                            {% endif %}
                            {% if store.picture2 == true %}
                                <div class="item">
                                    <img class="picture-detail-store" src="{{ store.picture2 }}" alt="Second slide">
                                </div>
                            {% endif %}
                            {% if store.picture3 == true %}
                                <div class="item">
                                    <img class="picture-detail-store" src="{{ store.picture3 }}" alt="Third slide">
                                </div>
                            {% endif %}

                            <!-- Controls -->
                            <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
                                <i class="fas fa-arrow-circle-left carousel-left"></i>
                            </a>
                            <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
                                <i class="fas fa-arrow-circle-right carousel-right"></i>
                            </a>
                        </div>
                    </div>
                </div>

            </div>

            <div class="column-products">
                <div class="row-products">

                    {% for storeproduct in store.product %}
                        <div id="product-{{ storeproduct.id }}"
                             class="card-products">
                            <a style="text-decoration:none" href="{{ path('detail_product',{ 'id':storeproduct.id}) }}">
                                <h2> {{ storeproduct.name }} </h2></a>
                            <div class="type-color">
                                <h3> {{ storeproduct.type }} </h3>
                                <h3>-</h3>
                                <h3>{{ storeproduct.color }}</h3>
                            </div>
                            <a class="info" style="text-decoration:none"
                               href="{{ path('detail_product',{ 'id':storeproduct.id}) }}">
                                <i class="fas fa-info-circle info-logo"></i></a>
                            <a class="image-card-product" style="text-decoration:none"
                               href="{{ path('detail_product',{ 'id':storeproduct.id}) }}">
                                <img class="image-product" src="{{ asset(storeproduct.picture1) }}" alt="imageCard"></a>
                            <div class="store-price-favorite">
                                {% if app.user %}
                                    <div class="favorite-product-button" id="{{ storeproduct.id }}">
                                        <i class="far fa-heart blank-favorite"></i>
                                    </div>
                                {% endif %}
                                <h4>{{ storeproduct.price }} €</h4>
                            </div>
                            <div class="tags">
                                {% if storeproduct.tags == true %}
                                    <h3>#{{ storeproduct.tags }}</h3>
                                {% endif %}
                                {% if storeproduct.tag2 == true %}
                                    <h3>#{{ storeproduct.tag2 }}</h3>
                                {% endif %}
                                {% if storeproduct.tag3 == true %}
                                    <h3>#{{ storeproduct.tag3 }}</h3>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>


    {% endblock %}