<div class="navbar">
    <div class="burger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
    </div>

    <div class="navigation-links">
        <div class="nav-links">
            <div>
                <a style="text-decoration:none" href="/"><img class="logo-home" src="{{ asset('build/logo.png') }}"
                                                              alt="logohome"></a>
            </div>
            <div class="store-burger-menu">
                <a style="text-decoration:none" href="/stores"><p>Les magasins</p></a>
            </div>
            <div class="product-burger-menu">
                <a style="text-decoration:none" href="/products"><p>Les produits</p></a>
            </div>
            <div class="favorite-burger-menu-button">
                <a style="text-decoration:none" href="/cart"><p>Vos favoris</p></a>
            </div>
            <div class="store-navbar-menu">
                <a style="text-decoration:none" href="/stores"><p>Les magasins</p></a>
            </div>
            <div class="product-navbar-menu">
                <a style="text-decoration:none" href="/products"><p>Les produits</p></a>
            </div>
            <div class="btn-inscription-burger-menu ">
                {% if app.user %}
                    <a style="text-decoration:none" href="{{ path('app_logout') }}">Déconnexion</a>
                {% else %}
                    <a style="text-decoration:none" href="{{ path('registration') }}">Inscription</a>
                {% endif %}
            </div>
        </div>
    </div>
    <div>
        <a style="text-decoration:none" href="/cart"><i class="fas fa-heart heart"></i></a>
    </div>
    <div class="btn-connexion">
        {% if app.user %}
            <a style="text-decoration:none" href="{{ path('my_account_profile') }}">Mon compte</a>
        {% else %}
            <a style="text-decoration:none" href="{{ path('app_login') }}">Connexion</a>
        {% endif %}
    </div>
    <div class="btn-inscription">
        {% if app.user %}
            <a style="text-decoration:none" href="{{ path('app_logout') }}">Déconnexion</a>
        {% else %}
            <a style="text-decoration:none" href="{{ path('registration') }}">Inscription</a>
        {% endif %}
    </div>


</div>